// main: style.scss

/* ------------------------------- */
/* ----    SECTION-CONTACT    ---- */
/* ------------------------------- */

.bg-map{
    @include bg-map('img/maps.png');

}

.info-contact{
    padding: 10% 0;
    color: $colorLight;
    z-index: 10000;
    text-align: center;
    .text{
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        padding: 17px;
    }
}

/* ---------------------------- */
/* ----    PAGE-CONTACT    ---- */
/* ---------------------------- */

#page-contact{
    .map-header{
        //@include bg-linear-gradient;
        iframe{
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    .sous-titre{
        color: $colorPrimary;
        padding: 3rem 0;
    }

    // coordonne -------------------------
    .coordonne{
        text-align: center;
    }

    // information ----------------------
    .information{
        margin-top: 3rem;
        text-align: center;
        h4{
            font-size: 1.3rem;
            line-height: 2;
            letter-spacing: 1px;
            font-weight: 700;
        }
    }

    // opne-hour ------------------------
    .open-hour{
        text-align: center;
        .day{
            vertical-align: middle;
        }
        .table{
            position: relative;
            width: 50%;
            left: 25%;
            margin-bottom: 5%;
            border: 1px solid #dee2e6;
            .item-day{
                border: 1px solid #dee2e6;
            }
            td, tr {
                border-top: inherit;
            }
            tr .midi{
                padding-bottom: 0;
            }
        }
    }


}


// MEDIUM ------------------------------
@include responsive(M){
    .info-contact{
        .text{
            font-size: 1.1rem;
        }
    }

    #page-contact{
        .map-header{
            iframe{
                height: 60vh;
            }
        }
        .sous-titre{
            padding: 2rem 0;
        }
        .icons{
            font-size: 2rem;
        }
        .open-hour{
            .table{
                margin-bottom: 7%;
            }
        }
    }
}

// SMALL ------------------------------
@include responsive(S){
    .info-contact{
        .info-left{
            padding-bottom: 7%;
        }
        .text{
            font-size: 1.2rem;
        }
    }

    #page-contact{
        .map-header{
            iframe{
                height: 70vh;
            }
        }
        .sous-titre{
            padding: 1rem;
        }
        .icons{
            font-size: 1.5rem;
            padding-right: 10px;
        }
        .open-hour{
            .table{
                width: 100%;
                position: inherit;
                margin-bottom: 15%;
            }
        }
    }
}

//  EXTRA SMALL ------------------------------
@include responsive(XS){
    .info-contact{
        padding: 15% 0;
        .info-left{
            padding-bottom: 10%;
        }
        .text{
            font-size: 1.1rem;
            padding: 2% 0;
        }
    }
    #page-contact{
        .map-header{
            iframe{
                height: 70vh;
            }
        }
        .sous-titre{
            padding: 1.5rem 0;
        }
        .icons{
            font-size: 1.5rem;
        }
        .coordonne{
            &-left{
                padding: 5%;
            }
        }
        .information{
            .card{
                margin-bottom: 5%;
            }
        }
        .open-hour{
            .table{
                width: 100%;
                position: inherit;
                margin-bottom: 15%;
            }
        }
    }
}
