// main: style.scss

#page-event{
    .page-event-content{
        margin-top: 4%;
        height: 77vh;
    }
    .titre-h1{
        margin-bottom: 4%;
    }
    .card{
        @include shadow-regular;
        @include border-radius(10px);
        background: #fff;
        img{
            height: 200px;
            @include border-radius(10px 10px 0 0);
        }
    }
}

#single-event{
    .single-event-content{
        margin-top: 3%;
        margin-bottom: 2%;
    }
    .titre-h1{
        padding: .5rem;
        line-height: 2;
        font-size: 2.7rem;
        margin-bottom: 4%;
    }
}

// MEDIUM ------------------------------
@include responsive(M){
    #page-event{
        .page-event-content{
            height: auto;
        }
        .titre-h1{
            font-size: 2.5rem;
        }
        .card{
            margin-bottom: 15%;
            .card-title{
                font-size: 1.1rem;
            }
        }
    }
}

// SMALL ------------------------------
@include responsive(S){
    #page-event{
        .page-event-content{
            height: auto;
        }
        .titre-h1{
            font-size: 2rem;
        }
        .card{
            margin-bottom: 15%;
            img{
                height: 260px;
            }
        }
    }
    #single-event{
        .titre-h1{
            padding: 1rem 0;
            line-height: initial;
            font-size: 2.1rem;
        }
    }
}

//  EXTRA SMALL ------------------------------
@include responsive(XS){
    #page-event{
        .page-event-content{
            height: auto;
        }
        .titre-h1{
            font-size: 1.8rem;
        }
        .card{
            margin-bottom: 15%;
            img{
                height: 160px;
            }
        }
    }
    #single-event{
        .titre-h1{
            padding: 1rem 0;
            line-height: initial;
            font-size: 1.8rem;
        }
    }
}
