// main: style.scss


// COLOR -------------------------------
$colorPrimary : #FFC033;
// $colorSecondary :
$colorDark : #333;
$colorLight : #FAFAFA;

$colorPrimaryLight: rgba(255,192,51,.06);
$colorPrimaryDark: #fbaf00;


// TYPO --------------------------------
$fontPrimary: 'Roboto', sans-serif;
$fontSecondary: 'Libre Baskerville', serif;


// layout - breakpoint ----------------------
$XS:  320px;
$S:   480px;
$M:   768px;
$L:   992px;
