// main: ../_mixins.scss


// BACKGROUND --------------------------------------------------------------

/* @mixin bg-cover($img_url){
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
                url($img_url) no-repeat fixed;
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
                url($img_url) no-repeat fixed;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
                url($img_url) no-repeat fixed;
    background-position: 50% 50%;
    background-size: cover;
} */

@mixin bg-cover{
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
                 no-repeat fixed;
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
                 no-repeat fixed;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
                 no-repeat fixed;
    background-position: 50% 50%;
    background-size: cover;
}

@mixin bg-radial-gradient {
    background: -webkit-radial-gradient(circle, rgb(255, 255, 255), rgba(251, 221, 152, 1));
    background: -o-radial-gradient(circle, rgb(255, 255, 255), rgba(251, 221, 152, 1));
    background: radial-gradient(circle, rgb(255, 255, 255), rgba(251, 221, 152, 1));
}

@mixin bg-linear-gradient {
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

@mixin bg-fly($img_url){
    background: url($img_url);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin bg-map($img_url){
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.8)),
                url($img_url) no-repeat fixed;
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.8)),
                url($img_url) no-repeat fixed;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.8)),
                url($img_url) no-repeat fixed;
    background-position: 50% 50%;
    background-size: cover;
}

@mixin bg-img($img_url){
  background: url($img_url) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
